<?xml version="1.0"?>
<model>
  <name>stewart_platform</name>
  <version>1.0</version>
  <sdf>stewart_sdf.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    Stewart Platform model for Gazebo simulation.
  </description>
</model>
